@{
    ViewBag.Title = "Travis Lord";
}
<div class="jumbotron bg-success">
    <h2 class="text-capitalize text-center">Travis Lord</h2>
    <h3 class="text-capitalize text-center">Software Developer</h3>
</div>

<address class=" jumbotron jumbotron text-center" style="background-color:lightblue">
    <p>West Jordan, Utah 84081</p>
    <p>Phone: 801-548-8768</p>
    <p>Email: travisblord@gmail.com</p>
    <p>LinkedIn: https://www.linkedin.com/in/travis-lord-software-dev/</p>
    <p>Portfolio Website: TravLord.github.io</p>
</address>

